//  colors 
$main_color : #212121;
$color_1    : #7f6cb6;
$color_2    : #616161;
$color_3    : #ffffff;
$color_4    : #f7f7f7;
$color_5    : #fafafa;
$color_6    : #bdbdbd;
$color_7    : #757575;
$color_8    : #263238;
$color_9    : #e0e0e0;




// button
$height_btn:49px;

// font

$font_s  : 16px;
$font_b  : 700;