.banner_parant{
  margin-bottom: 50px;

  .banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    
    .anc_banner{
      overflow: hidden;
      position: relative;
      display: inline-block;
      transition: .5s;
            img{
        max-width: 100%;
      }
      &:before {
        border: 50px solid transparent;
        border-radius: 50px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        top: 0;
        content: "";
        opacity: 1;
        filter: alpha(opacity=100);
        width: 100px;
        height: 100px;
        transform: scale(7);
        transition: all .4s ease-in-out 0s;
        visibility: visible;
        z-index: 1;
      }
      &:hover{
        &:before {
          border: 0 solid rgba(255, 255, 255, 0.7);
          opacity: .9;
          -webkit-filter: alpha(opacity=0);
          filter: alpha(opacity=0);
        }
      }

    }
  }
}
.big_banner{
  margin-bottom: 70px;
  .anc_banner{
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: .5s;
    img{
      max-width: 100%;
    }
  }
}

@include xs{
  .banner_parant{
    .banner{
      grid-template-columns: 1fr ;
      gap: 15px;
    }
  }
.big_banner{
  margin-bottom: 50px;
}
}

