.brands_parant{
  background-color:$color_5 ;
  padding: 50px 0;
  .brands{
    @include dots_;
    .owl-dots{
      bottom: -17px;
    }
    .item{
      display: flex;
      align-items: center;
      justify-content: center;
      .brand_div{
        width: 130px;
        height: 130px;
        display:flex;
        align-items: center;
        justify-content: center;
        .anc_brand{
          display: inline-block;
          img{
            max-width: 100%;
            opacity: .5;
            transition: .5s;
            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

