.preloader-sa {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color_3;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 3px solid;
    }
    &::after{
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 3px solid;
    }
  }

  
  .clock:before {
    --deg: 360deg;
    height: 200px;
    width: 200px;
    border-color: $color_1 transparent transparent;
    animation: spin 2s infinite linear;
  }
  
  .clock:after {
    --deg: -360deg;
    height: 180px;
    width: 180px;
    border-color: transparent transparent $color_1;
    animation: spin 1500ms infinite linear;
  }
  
  .pointers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 5px solid $color_1;
    border-radius: 50%;
  }
  
  .pointers:before,
  .pointers:after {
    content: "";
    position: absolute;
    border: 2px solid;
    z-index: -1;
    transform-origin: 2px 0;
  }
  
  .pointers:before {
    height: 70px;
    border-color: #a4cdf8;
    animation: spin 1s infinite linear;
  }
  
  .pointers:after {
    height: 40px;
    border-color: #a4cdf8;
    animation: spin 6s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(var(--deg, 360deg));
    }
  }