.slider_parant{
  position: relative;
  .slider{
    margin-bottom: 30px;
    img{
      max-width: 100%
    }
    @include owl-nav_;
    .owl-dots{
      display: none;
    }
    
  
  }
}


@include xs{
  .slider_parant{
    .slider{
      .owl-nav{
        display: none;
      }
      @include dots_;
      .owl-dots{
        display: block;
        bottom: 10px;
      }
    }
  }
}