body {
    font-family     : "Tajawal";
    font-weight     : normal;
    font-style      : normal;
}

.ul_gh {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .m_P_gh {
    padding: 0;
    margin: 0;
  }
  .anc_gh {
    display: inline-block;
    &:focus{
      text-decoration: none;
    }
  }
  .anc_gh:hover {
    text-decoration: none;
  }
  .btn_gh {
    border          : none;
    padding         : 0;
    background-color: transparent;
    border          : none;
    display         : block;
    cursor          : pointer;
    outline         : none !important;
    transition      : 0.5s;
  }
  .d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .moboverlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    overflow: hidden;
  }
  .over_{
    overflow: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 100px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color_1; 

  }
  
.title_sections{
  position: relative;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  .t_section{
    font-size: 27px;
    font-family: "Tajawal";
    color: $main_color;
    font-weight: 700;
    text-transform: capitalize;
  }
  img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
  }
}

.anim_:hover::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  animation: ShineAnim 5s ease ;
  animation-delay: 2s;
  -webkit-animation: ShineAnim 5s ease ;
}
@keyframes ShineAnim {
  0% {
    left: -100%;
  }
  10% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

