
.header {
  padding: 20px 0 15px;
}
.logo_ {
  width: 25%;
  img{
    max-width: 100%;
  }
}
// input
.input_div_parant{
  z-index: 99;
  width: 50%;
  .input_div_t{
    margin: auto;
    position: relative;
    width: 80%;

    .input_search{
      width: 100%;
      background-color: $color_4;
      font-size: $font_s - 2;
      padding-inline-start: 20px;
      height: 40px;
      font-weight: 400;
      border-radius: 20px;
      border: none;
      border: 1px solid transparent;
      &:focus{
        outline: 0;
        border-color: $color_1;
      }

    }
    .btn_search{
      font-size: $font_s;
      color: $main_color;
      &:hover{
        color: $color_1;
      }
    }
    .btn_search{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
      @include ar{
        left: 20px;
      }
      @include en{
        right: 20px;
      }
    }

  }

}
.user_div{
  width: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
  .btn_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: $font_s;
    color: $main_color;
    width: 40px;
    height: 40px;
    background-color: $color_4;
    margin-inline-end: 10px;
    cursor: pointer;
    &:hover{
      background-image: linear-gradient( 0deg, rgb(184,226,242) 0%, rgb(226,174,249) 100%);
      .ul_drop{
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
    }
    }
    .btn_mob{
      display: flex;
      display: none;
    }
    .div_user{
      position: relative;
      z-index: 20;
      .ul_drop{
        top: 41px;

      }
    }
}
// lang
.btn_drop_lang{
  position: relative;
  font-size: $font_s - 2;
  color: $main_color;
  font-weight: 500;
  i{
    font-size: $font_s - 3;
  }
  cursor: pointer;
  &:hover{
    .ul_drop{
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
  .ul_drop{
    top: 30px;
  }
}
@include sm{
  .header{
    flex-wrap: wrap;
    .logo_{
      order: 1;
      width: 50%;
    }
    .input_div_parant{
      order: 3;
      width: 100%;
      margin-top: 10px;
    }
    .user_div{
      order: 2;
      width: 50%;
    }
  }
}
@include xs{
  .header_parant{
    .header{
      padding: 15px 0;
      .logo_{
        img{
          width: 145px;
        }
      }
      .input_div_parant{
        display: none;
        width: 100%;
      .input_div_t{
        width: 95%;
      }
    }
    .btn_drop_lang{
      display: none;
    }
    .btn_mob{
      display: flex;
    }
    .btn_icon{
      margin-inline-end: 0;
      margin-inline-start:12px ;
      width: 18px;
      height: auto;
      &:hover{
      background-image: none;
      color: $color_1;
      }
      .ul_drop{
        top: 35px;
        transform: inherit;
        @include ar{
          left: -40px;
        }
        @include en{
          right: -40px;
        }
        &::after{
          left: 33%;
        }
      }
    }
    .user_div{
      order: 2;
      width: 50%;
      .ul_drop{
        transform: translate(none);

        @include en{
          left: -86px;
          &::after{
            left: 65%;
          }
        }
      }
    }
    
  }
  }
}
// nav
nav{
  .btn_drop_lang{
    display: none;
  }
  background-color: $color_5;
  .ul_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    >li{
      padding: 20px 0;
      .anc_nav{
        padding: 0 15px;
        font-size: $font_s;
        color: $main_color;
        font-weight: 500;
        transition: .5s;
        text-transform: capitalize;
        i{
          font-size: 14px;
        }
        &:hover{
          color: $color_1;
        }
      }
    }
    .li_hover{
      position: relative;
      z-index: 20;
      .ul_drop{
        top: 60px;
        .anc_menu{
          font-size: $font_s;
          color: $main_color;
          font-weight: 400;
          font-family: "Tajawal";
          margin-bottom: 10px;
          transition: .5s;
          text-transform: capitalize;
          &:hover{
            color: $color_1;
          }
        }
      }
      &:hover{
        .ul_drop{
            visibility: visible;
            opacity: 1;
            z-index: 1;

        }
      }
    }
  }
  .close_{
    display: none;
  }
}
@include xs{
  nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 145px;
    background-color: $color_3;
    display: none;
    z-index: 99;
    .btn_drop_lang{
      display: block;
      position: absolute;
      top: 30px;
      @include ar{
        right: 20px;
      }
      @include en{
        left: 20px;
      }
      .ul_drop{
        @include ar{
          left: 33%;
        }
        @include en{
          left: 69%;
        }
      }
    }
    @include ar{
      right: 0;
    }
    @include en{
      left: 0;
    }
    .close_{
      position: absolute;
      top: 30px;
      font-size: $font_s;
      color: $main_color;
      transition: .5s;
      display: block;
      cursor: pointer;
      &:hover{
        color: $color_1;
      }
      @include ar{
        left: 20px;
      }
      @include en{
        right: 20px;
      }
    }
    .ul_nav{
      flex-direction: column;
      >li{
        padding: 0;
        margin-bottom: 20px;
        .anc_nav{
          padding: 0;
          i{
            font-size: $font_s - 5;
          }
        }
      }
      .ul_drop{
        position: static;
        transition: inherit;
        visibility: inherit;
        z-index: 1;
        opacity: inherit;
        transform: none;
        min-width: auto;
        box-shadow: none;
        padding: 10px 0 0;
        display: none;
        li:first-child{
          margin-bottom: 0;
        }
      }
    }
  }

}

